:root{
    --dark-blue: #0d78aa;
    --white-blue: #e3faff;
    --light-blue: #c9fafe;
    --light-teal: #a4f4f8;
    --dark-teal: #02bad6;
    --light-red: #ec7d7d93;
}

.hide{
    display: none;
}

body{
    /* background-image: url("https://c1.wallpaperflare.com/preview/274/295/630/water-swimming-pool-bathing-travel.jpg"); */
    /* background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/px828844-image-kwvxfkf4.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=f149c13a39d424a0ffe644cc603ede9a"); */
    background-color: var(--light-blue);
}   

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--dark-teal);
    color: var(--dark-blue);
    background-color: var(--light-teal);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
    margin: auto;
    border-radius: 4px;
}

header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: var(--dark-blue);
    color: var(--white-blue);
    }
    
    .header1 { grid-area: 1 / 1 / 2 / 3; 
    margin: auto;
    padding: 15px;
}
    .header2 { grid-area: 1 / 5 / 2 / 7; 
    text-align: right;
    margin: auto;
    padding: 15px;
}
    .button1 { 
        grid-area: 2 / 1 / 3 / 3;
        margin-bottom: 15px; }
    .button2 { 
        grid-area: 2 / 3 / 3 / 5; 
        margin-bottom: 15px;}
    .button3 { 
        grid-area: 2 / 5 / 3 / 7; 
        margin-bottom: 15px;}

footer{
    background-color: var(--dark-blue);
    color: var(--white-blue);
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

.kasser-grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.grid-item1 { grid-area: 1 / 1 / 4 / 4; }
.grid-item2 { 
    grid-area: 1 / 4 / 2 / 6; 
    text-align: center;
}
.grid-item3 { 
    grid-area: 3 / 4 / 3 / 6; 
    text-align: center;
} 



table.grid-item1{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.grid-item1 thead tr{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    text-align: left;
}

.grid-item1 th, .grid-item1 td{
    padding: 12px 15px;
    text-align: center;
}

.grid-item1 tbody tr {
    border-bottom: 1px solid var(--dark-blue);
}

.grid-item1 tbody tr:nth-of-type(even) {
    background-color: var(--light-teal);
}

.grid-item1 tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark-blue);
}


.grid-item1 tbody tr :hover {
    font-weight: bold;
    color: var(--dark-blue);
}

.create-dialog-head{
    margin-bottom: 30px;
    text-align: center;
}


.dialog-form{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }
    
    /* .head { grid-area: 1 / 4 / 2 / 8; } */
    .label1 { grid-area: 2 / 1 / 3 / 3; }
    .input1 { grid-area: 2 / 2 / 3 / 6; }
    .label2 { grid-area: 2 / 7 / 3 / 8; }
    .input2 { grid-area: 2 / 8 / 3 / 11; }
    .label3 { grid-area: 3 / 1 / 4 / 3; }
    .input3 { grid-area: 3 / 2 / 4 / 6; }
    .label4 { grid-area: 3 / 7 / 4 / 8; }
    .input4 { grid-area: 3 / 8 / 4 / 11; }
    .label5 { grid-area: 4 / 1 / 5 / 3; }
    .input5 { grid-area: 4 / 2 / 5 / 6; }
    .label6 { grid-area: 4 / 7 / 5 / 8; }
    .input6 { grid-area: 4 / 8 / 5 / 11; }
    .label7 { grid-area: 5 / 1 / 6 / 3; }
    .input7 { grid-area: 5 / 2 / 6 / 6; }

    .btn-confirm-create { grid-area: 7 / 3 / 8 / 6; }
    .btn-cancel-create { grid-area: 7 / 6 / 8 / 9; } 


#form-create-member label{
    padding: 15px;
}

dialog{
    background-color: var(--white-blue);
}

input {
    border: 2px solid var(--dark-blue);
    display: block;
    background: var(--white-blue);
}

input:valid, select:valid{
    background-color: var(--light-teal);
}

input:invalid, select:invalid{
    background-color: var(--light-red);
}

select {
    background-color: var(--white-blue);
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
}



form{
    color: var(--dark-blue);
}