:root{
  --dark-blue: #0d78aa;
  --white-blue: #e3faff;
  --light-blue: #c9fafe;
  --light-teal: #a4f4f8;
  --dark-teal: #02bad6;
  --light-red: #ec7d7d93;
  --dark-red: #d62323;
  --grey-blue: #4f626b7e;
}

.hidden{
  display: none;
}

body{
  background-color: var(--light-blue);
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

h1{
  color: var(--dark-blue);
}


.login-grid {
  display: block;
  align-content: center;
  justify-content: center;
  background-color: var(--white-blue);
  border: 2px solid var(--dark-blue);
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 50vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  }
  
  .login-head { grid-area: 1 / 2 / 2 / 4;}
  .login { 
    grid-area: 2 / 2 / 5 / 4; 
  }

  .login input{
    padding: 15px;
    margin-bottom: 20px;
  }
.login button{
  padding: 25px;
  border: 2px solid var(--dark-blue);
  max-width: 300px;
}

#login-error{
  color: var(--dark-red);
}



button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--dark-teal);
  color: var(--dark-blue);
  background-color: var(--light-teal);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
  margin: auto;
  border-radius: 4px;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--dark-blue);
  color: var(--white-blue);
  margin-bottom: 20px;
  }
  
  .header1 { grid-area: 1 / 1 / 2 / 3; 
  margin: auto;
  padding: 15px;
}
  .header2 { grid-area: 1 / 5 / 2 / 7; 
  text-align: right;
  margin: auto;
  padding: 15px;
}
  .button1 { 
      grid-area: 2 / 1 / 3 / 3;
      margin-bottom: 15px; }
  .button2 { 
      grid-area: 2 / 3 / 3 / 5; 
      margin-bottom: 15px;}
  .button3 { 
      grid-area: 2 / 5 / 3 / 7; 
      margin-bottom: 15px;}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: auto;
  background-color: var(--dark-blue);
  color: var(--white-blue);
  position:sticky;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
}


.log-off-btn{ grid-area: 1 / 3 / 1;}
footer p{
  grid-area: 1 / 1 / 1;
}




.kasser-grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.grid-item1 { grid-area: 1 / 1 / 4 / 4; }
.grid-item2 { 
  grid-area: 1 / 4 / 2 / 6; 
  text-align: center;
}
.grid-item3 { 
  grid-area: 3 / 4 / 3 / 6; 
  text-align: center;
} 



#formand-grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}



table{
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  
}

thead tr{
  background-color: var(--dark-blue);
  color: var(--light-blue);
  text-align: left;
}

th, td{
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid var(--dark-blue);
}

tbody tr:nth-of-type(even) {
  background-color: var(--light-teal);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--dark-blue);
}


.dialog-head{
  margin-bottom: 30px;
  text-align: center;
}
.member-grid-container{
  display: grid;;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

#member-modal{
  width: 40vw;
  border: 2px solid var(--dark-blue);   
  background-color: var(--white-blue);

}

.modal-info-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  padding: 20px;
}


.dialog-form{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  }
  
  .label1 { grid-area: 2 / 1 / 3 / 3; }
  .input1 { grid-area: 2 / 2 / 3 / 6; }
  .label2 { grid-area: 2 / 7 / 3 / 8; }
  .input2 { grid-area: 2 / 8 / 3 / 11; }
  .label3 { grid-area: 3 / 1 / 4 / 3; }
  .input3 { grid-area: 3 / 2 / 4 / 6; }
  .label4 { grid-area: 3 / 7 / 4 / 8; }
  .input4 { grid-area: 3 / 8 / 4 / 11; }
  .label5 { grid-area: 4 / 1 / 5 / 3; }
  .input5 { grid-area: 4 / 2 / 5 / 6; }
  .label6 { grid-area: 4 / 7 / 5 / 8; }
  .input6 { grid-area: 4 / 8 / 5 / 11; }
  .label7 { grid-area: 5 / 1 / 6 / 3; }
  .input7 { grid-area: 5 / 2 / 6 / 6; }
  .label8 { grid-area: 5 / 8 / 6 / 7;}
  .input8 { grid-area: 5 / 8 / 6 / 11;}

  .btn-confirm { grid-area: 7 / 3 / 8 / 6; }
  .btn-cancel { grid-area: 7 / 6 / 8 / 9; } 


label{
  padding: 15px;
}
dialog{
  background-color: var(--white-blue);
}

input {
  border: 2px solid var(--dark-blue);
  display: block;
  background: var(--white-blue);
  padding: 15px;
}

input:valid, select:valid{
  background-color: var(--light-teal);
}

input:invalid, select:invalid{
  background-color: var(--light-red);
}

select {
  padding: 15px;
  background-color: var(--white-blue);
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}

:disabled{
  background-color: var(--grey-blue);
}

form{
  color: var(--dark-blue);
}

.login-grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#restance-input{
  margin: 15px;
}

#cancel-restance-change-button{
  margin-bottom: 15px;
}
#search-error-msg {
  background-color: #00000085;
  text-align: center;
}